<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <style type="text/css">
    .query {
      margin: .5em;
    }
    .kg {
      border: 1px black dashed;
      padding: .5em;
      margin: .5em;
    }
    .cg {
      border: 1px black solid;
      padding: .5em;
      margin: .5em;
    }
    .glyph {
      border: 1px dotted gray;
      display: inline-block;
      text-align: center;
      margin: 0.1em;
    }
    .warn {
      background: #fdd;
    }
    table {
      border-collapse: collapse;;
    }
    th, td {
      border: 1px solid gray;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="query">
      <input type="text" v-model="query" id="query" /><button @click="doQuery()">Query</button>
    </div>
    <div>
      <span class="glyph" v-bind:class="{'warn':!v[1]}" v-for="v in data.query">
        <img v-bind:src="getGlyph(v[0])" />
        <br />
        {{v[0]}}
      </span>
    </div>
    <div v-for="kgv,kgi in data.data" class="kg">
      <span>Compatible Group #{{kgi}}</span><br />
      <table v-if="!kgv['virtual']">
        <tr>
          <th>Glyph</th>
          <td v-for="v in kgv['glyph']">
            <span v-if="!v['virtual']">
              <img v-bind:src="getGlyph(v['codepoint'])" />
              <br />
              {{v['codepoint']}}
            </span>
          </td>
        </tr>
        <tr v-for="attr in attrs">
          <th>{{attr}}</th>
          <td v-for="v in kgv['glyph']">
            <span v-if="v['attr'][attr]">
              <template v-if="v['virtual']">
                <img v-bind:src="getGlyph(v['codepoint'])" />
                <br />
                {{v['codepoint']}}
              </template>
              <template v-if="!v['virtual']">
                *
              </template>
            </span>
          </td>
        </tr>
      </table>
      <div v-for="cgv,cgi in kgv['children']" class="cg">
        <span>Canonical Group #{{cgi}}</span><br />
        <table>
          <tr>
            <th>Glyph</th>
            <td v-for="v in cgv">
              <template v-if="!v['virtual']">
                <img v-bind:src="getGlyph(v['codepoint'])" />
                <br />
                {{v['codepoint']}}
              </template>
            </td>
          </tr>
          <tr v-for="attr in attrs">
            <th>{{attr}}</th>
            <td v-for="v in cgv">
              <template v-if="v['attr'][attr]">
                <template v-if="v['virtual']">
                  <img v-bind:src="getGlyph(v['codepoint'])" />
                  <br />
                  {{v['codepoint']}}
                </template>
                <template v-if="!v['virtual']">
                  *
                </template>
              </template>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      attrs: ["CN", "JP", "TW", "CP950", "CP936", "GB2312", "GBK"],
      data: {},
      query: "",
    },
    mounted: function(){
      var checkEnter = function(event) {
          if (event.keyCode == 13 || event.which == 13) {
              app.doQuery();
              event.preventDefault();
          }
      };
      $('#query').keypress(checkEnter).focus();
      $('html').keypress(checkEnter);
    },
    methods: {
      doQuery: function(){
        $.get(
          "http://localhost:8080",
          {
            "q": this.query,
            "reload": "1"
          },
          function(data){
            app.data = data;
          },
          "json"
        );
      },
      getAttr1: function(g, col){
        if(!g || !this.data["attr1"][g])
          return "";
        return this.data["attr1"][g][col];
      },
      getAttr2: function(g, col){
        if(!g || !this.data["attr2"][g])
          return "";
        return this.data["attr2"][g][col];
      },
      getGlyph: function(cp){
        if(!cp)
          return "";
        return "http://glyphwiki.org/glyph/u"+cp.toLowerCase()+".50px.png";
      },
      hasAttr2: function(g){
        if(!this.data["attr2"])
          return false;
        return !!this.data["attr2"][g];
      }
    }
  });
</script>
</body>
</html>
