<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <style type="text/css">
    .query {
      margin: .5em;
    }
    .kg {
      border: 1px black dashed;
      padding: .5em;
      margin: .5em;
    }
    .cg {
      border: 1px black solid;
      padding: .5em;
      margin: .5em;
    }
    .glyph {
      border: 1px dotted gray;
      display: inline-block;
      text-align: center;
      margin: 0.1em;
    }
    .warn {
      background: #fdd;
    }
    .copy {
      cursor: copy;
    }
    table {
      border-collapse: collapse;;
    }
    th, td {
      border: 1px solid gray;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="query">
      <input type="text" v-model="query" id="query" /><button @click="doQuery()">Query</button>
    </div>
    <div>
      <span class="glyph" v-bind:class="{'warn':!v[1]}" v-for="v in data.query">
        <img class="copy" v-bind:src="getGlyph(v[0])" v-bind:title="getChar(v[0])" @click="copy(getChar(v[0]))" />
        <br />
        <span class="copy" @click="copy(v[0])">{{v[0]}}</span>
      </span>
    </div>
    <div v-for="kgv,kgi in data.data" class="kg">
      <span>Compatible Group #{{kgi}}</span><br />
      <table v-if="!kgv['virtual']">
        <tr>
          <th>Glyph</th>
          <td v-for="v in kgv['glyph']">
            <span v-if="!v['virtual']">
              <img class="copy" v-bind:src="getGlyph(v['codepoint'])" v-bind:title="getChar(v['codepoint'])" @click="copy(getChar(v['codepoint']))" />
              <br />
              <span class="copy" @click="copy(v['codepoint'])">{{v['codepoint']}}</span>
            </span>
          </td>
        </tr>
        <tr v-for="attr in attrs">
          <th>{{attr}}</th>
          <td v-for="v in kgv['glyph']" @click="setAttr(2, kgi, attr, v['codepoint'])">
            <span v-if="v['attr'][attr]">
              <template v-if="v['virtual']">
                <img class="copy" v-bind:src="getGlyph(v['codepoint'])" v-bind:title="getChar(v['codepoint'])" @click="copy(getChar(v['codepoint']))" />
                <br />
                <span class="copy" @click="copy(v['codepoint'])">{{v['codepoint']}}</span>
              </template>
              <template v-if="!v['virtual']">
                *
              </template>
            </span>
          </td>
        </tr>
      </table>
      <div v-for="cgv,cgi in kgv['children']" class="cg">
        <span>Canonical Group #{{cgi}}</span><br />
        <table>
          <tr>
            <th>Glyph</th>
            <td v-for="v in cgv">
              <template v-if="!v['virtual']">
                <img class="copy" v-bind:src="getGlyph(v['codepoint'])" v-bind:title="getChar(v['codepoint'])" @click="copy(getChar(v['codepoint']))" />
                <br />
                <span class="copy" @click="copy(v['codepoint'])">{{v['codepoint']}}</span>
              </template>
            </td>
          </tr>
          <tr v-for="attr in attrs">
            <th>{{attr}}</th>
            <td v-for="v in cgv" @click="setAttr(1, cgi, attr, v['codepoint'])">
              <template v-if="v['attr'][attr]">
                <template v-if="v['virtual']">
                  <img class="copy" v-bind:src="getGlyph(v['codepoint'])" v-bind:title="getChar(v['codepoint'])" @click="copy(getChar(v['codepoint']))" />
                  <br />
                  <span class="copy" @click="copy(v['codepoint'])">{{v['codepoint']}}</span>
                </template>
                <template v-if="!v['virtual']">
                  *
                </template>
              </template>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr />
  <a href="https://github.com/buganini/chvar">Project ChVar</a>
  <br />
  Glyph images are provided by <a href="http://glyphwiki.org">GlyphWiki</a>
<script>
  var endpoint = "http://localhost:8080";
  var app = new Vue({
    el: '#app',
    data: {
      attrs: ["CN", "JP", "TW", "CP950", "CP936", "GB2312", "GBK"],
      data: {},
      query: "",
    },
    mounted: function(){
      var $query = $("#query");
      var checkKey = function(event) {
          if (event.keyCode == 13 || event.which == 13) {
              app.doQuery();
              event.preventDefault();
          } else if (event.keyCode == 27 || event.which == 27){
            app.query = "";
            $query.focus();
            event.preventDefault();
          }
      };
      $query.keyup(checkKey).focus();
      $('html').keyup(checkKey);
      var hash = document.location.hash.substring(1);
      if(hash){
        this.query = decodeURIComponent(hash);
        this._doQuery();
      }
    },
    methods: {
      doQuery: function(){
        document.location.hash = this.query;
        this._doQuery();
      },
      _doQuery: function(){
        $.get(
          endpoint,
          {
            "q": this.query,
            "reload": "1"
          },
          function(data){
            app.data = data;
          },
          "json"
        );
      },
      setAttr: function(level, group, attr, codepoint){
        return;
        $.post(
          endpoint+"/attr",
          {
            "query": this.query,
            "level": level,
            "group": group,
            "attr": attr,
            "codepoint": codepoint
          },
          function(data){
            app.data = data;
          },
          "json"
        );
      },
      copy: function(text){
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
      },
      getAttr1: function(g, col){
        if(!g || !this.data["attr1"][g])
          return "";
        return this.data["attr1"][g][col];
      },
      getAttr2: function(g, col){
        if(!g || !this.data["attr2"][g])
          return "";
        return this.data["attr2"][g][col];
      },
      getGlyph: function(cp){
        if(!cp)
          return "";
        return "http://glyphwiki.org/glyph/u"+cp.toLowerCase()+".50px.png";
      },
      getChar: function(cp){
        return String.fromCodePoint(parseInt(cp, 16));
      },
      hasAttr2: function(g){
        if(!this.data["attr2"])
          return false;
        return !!this.data["attr2"][g];
      }
    }
  });
</script>
</body>
</html>
